## 함수 (2)

In [1]:
def 월급_계산(기본급, 야근시간):
    return 기본급 + 야근시간 * 10000

In [4]:
# 함수 호출 시 인자를 지정하는 데
# 순서에 맞춰 인자를 지정합니다. => 위치에 기반한 인자
월급_계산(1000000, 40)

1400000

In [3]:
월급_계산(40, 1000000)

10000000040

In [5]:
# 함수 호출 시 인자를 지정하는 데
# 이름을 지정해서 인자를 지정합니다. => 이름에 기반한 인자
월급_계산(기본급=1000000, 야근시간=40)

1400000

In [6]:
월급_계산(야근시간=40, 기본급=1000000)

1400000

In [7]:
월급_계산(1000000, 야근시간=40)

1400000

In [9]:
월급_계산(1000000)

TypeError: 월급_계산() missing 1 required positional argument: '야근시간'

In [8]:
# 디폴트 인자
def 월급_계산2(기본급, 야근시간=0):
    return 기본급 + 야근시간 * 10000

In [10]:
월급_계산2(1000000)

1000000

In [11]:
월급_계산2(1000000, 40)

1400000

In [12]:
월급_계산2(1000000, 야근시간=40)

1400000

In [13]:
import requests

응답 = requests.get("http://naver.com")

In [14]:
import pandas

df = pandas.DataFrame()

## 코딩을 해봅시다. :D

In [21]:
# 1) 문자열을 인자로 받아, 단어수를 리턴하는 함수를 작성하기

def 단어수_세기(문자열):
#     word_list = 문자열.split()
#     return len(word_list)
    return len(문자열.split())

In [22]:
단어수_세기("안녕. 반가워.")  # => 2

2

In [15]:
"안녕.    반가워.    나는 이진석이야.".split()  # 구분자: white spaces

['안녕.', '반가워.', '나는', '이진석이야.']

In [16]:
len("안녕.    반가워.    나는 이진석이야.".split())

4

In [23]:
# 2)

"안녕 반가워 나는 이진석이야"  # 문자열이라는 목록

counter = 0

for 글자 in "안녕 반가워 나는 이진석이야":
    if 글자 != ' ':
        counter += 1
        
counter

# 글자 == ' '  # 공백인가?
# 글자 != ' '  # 공백이 아닌가?

12

In [28]:
def 공백이_아닌_글자수_세기(문자열):
    counter = 0
    
    for 글자 in 문자열:
        if 글자 != ' ':
            counter += 1

    return counter

In [29]:
공백이_아닌_글자수_세기("안녕 반가워 나는 이진석이야")

12

In [34]:
def 홀짝여부(숫자):
    if 숫자 % 2 != 0:
        return '홀수입니다.'
#     return None
    else:
        return '짝수입니다.'

In [35]:
홀짝여부(1)

'홀수입니다.'

In [36]:
print(홀짝여부(2))

짝수입니다.

In [39]:
"안녕 파이썬".startswith("안녕")

True

In [40]:
text = "단어수 세어줘: 안녕 파이썬"

if text.startswith('단어수 세어줘:'):
    문자열 = text[8:]
    단어수 = len(문자열.split())  # int 타입
    response = '단어수는 {}개입니다.'.format(단어수)

'단어수 세어줘: 안녕 파이썬'

## 크롤링 기본

In [42]:
import requests

응답 = requests.get("http://naver.com")
응답

In [48]:
html = 응답.text

In [49]:
'손석희' in html

True

In [50]:
len(html)

165192

In [51]:
from bs4 import BeautifulSoup

soup = BeautifulSoup(html, 'html.parser')

In [54]:
tag_list = soup.select('.PM_CL_realtimeKeyword_rolling .ah_k')
tag_list

[<span class="ah_k">손석희</span>,
 <span class="ah_k">김병조</span>,
 <span class="ah_k">히든프라이스</span>,
 <span class="ah_k">중국 이란</span>,
 <span class="ah_k">일본 인플루엔자</span>,
 <span class="ah_k">남연우</span>,
 <span class="ah_k">김정훈 김진아</span>,
 <span class="ah_k">김진아</span>,
 <span class="ah_k">연애의 맛 김진아</span>,
 <span class="ah_k">백승호</span>,
 <span class="ah_k">박진성 시인</span>,
 <span class="ah_k">치타 남자친구</span>,
 <span class="ah_k">치타</span>,
 <span class="ah_k">첼시 토트넘</span>,
 <span class="ah_k">한국 카타르</span>,
 <span class="ah_k">수영 정경호</span>,
 <span class="ah_k">대한민국 카타르</span>,
 <span class="ah_k">이란 중국</span>,
 <span class="ah_k">일본 베트남</span>,
 <span class="ah_k">넷플릭스 킹덤</span>]

In [56]:
type(tag_list[0])

bs4.element.Tag

In [57]:
tag_list[0]

In [58]:
tag_list[0].text

'손석희'

In [59]:
for tag in tag_list:
    print(tag.text)

손석희
김병조
히든프라이스
중국 이란
일본 인플루엔자
남연우
김정훈 김진아
김진아
연애의 맛 김진아
백승호
박진성 시인
치타 남자친구
치타
첼시 토트넘
한국 카타르
수영 정경호
대한민국 카타르
이란 중국
일본 베트남
넷플릭스 킹덤

In [60]:
import requests
from bs4 import BeautifulSoup

url = 'http://naver.com'
응답 = requests.get(url)
html = 응답.text

soup = BeautifulSoup(html, 'html.parser')

tag_list = soup.select('.PM_CL_realtimeKeyword_rolling .ah_k')
for tag in tag_list:
    print(tag.text)

손석희
히든프라이스
김병조
일본 인플루엔자
중국 이란
남연우
김진아
김정훈 김진아
백승호
조해주
연애의 맛 김진아
대한민국 카타르
봄이오나봄
치타
수영 정경호
한국 카타르
일본 베트남
넷플릭스 킹덤
이란 중국
첼시 토트넘

In [61]:
import requests
from bs4 import BeautifulSoup

def 네이버_실시간_검색어():
    url = 'http://naver.com'
    응답 = requests.get(url)
    html = 응답.text

    soup = BeautifulSoup(html, 'html.parser')

    tag_list = soup.select('.PM_CL_realtimeKeyword_rolling .ah_k')
    
    keyword_list = []
    for tag in tag_list:
        keyword_list.append(tag.text)
    
    return keyword_list

In [66]:
메세지 = '\n'.join(네이버_실시간_검색어())

In [68]:
rank = 1
for keyword in 네이버_실시간_검색어():
    message = '{} {}'.format(rank, keyword)
    rank += 1

1 손석희
2 히든프라이스
3 일본 인플루엔자
4 중국 이란
5 남연우
6 김병조
7 김진아
8 백승호
9 조해주
10 대한민국 카타르
11 연애의 맛 김진아
12 김정훈 김진아
13 한국 카타르
14 일본 베트남
15 수영 정경호
16 넷플릭스 킹덤
17 베트남 일본
18 이란 중국
19 첼시 토트넘
20 치타