## 주요 빌트인 함수와 정렬

In [2]:
import random

숫자_리스트 = random.sample(range(100), 6)
숫자_리스트

[25, 34, 56, 3, 46, 55]

In [5]:
sorted(숫자_리스트, reverse=True)

[56, 55, 46, 34, 25, 3]

In [6]:
def key_fn(value):
    return value % 10

sorted(숫자_리스트, key=key_fn)

[3, 34, 25, 55, 56, 46]

In [7]:
학생_리스트 = [
    {'이름': '철수', '국어': 100, '영어': 70, '수학': 50},
    {'이름': '영희', '국어': 70, '영어': 90, '수학': 80},
    {'이름': 'Steve', '국어': 60, '영어': 100, '수학': 80},
]

In [19]:
# 풀이 1)
def key_fn(학생):
    return 학생['국어'] + 학생['영어'] + 학생['수학']

정렬된_리스트 = sorted(학생_리스트, key=key_fn, reverse=True)

rank = 1
for 학생 in 정렬된_리스트:
    총점 = 학생['국어'] + 학생['영어'] + 학생['수학']
    print(rank, 학생['이름'], 총점)
    rank += 1

1 영희 240
2 Steve 240
3 철수 220

In [31]:
# 풀이 2)
for 학생 in 학생_리스트:
    학생['총점'] = 학생['국어'] + 학생['영어'] + 학생['수학']
    
def key_fn(학생):
    return 학생['총점']

정렬된_리스트 = sorted(학생_리스트, key=key_fn, reverse=True)

for rank, 학생 in enumerate(정렬된_리스트, 1):
    print('{} {이름} {총점}'.format(rank, **학생))

1 영희 240
2 Steve 240
3 철수 220